/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 2:25:21 PM
    Author     : ICSGH-BILLY
*/


.ui-datatable table {
   table-layout: auto !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td 
{
/*     white-space: normal !important;*/
     font-size: small 9px;
}

.panel-body {
    padding: 5px;
    
}

.field-label
{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 2px;
}

.field-value
{
    /*    font-weight: bold;*/
    display: inline-block;
    display: block;
    min-height: 1em;
    margin: 2px;
    padding: 2px 5px 2px 5px;
    background: #FFF;
    border:solid 1px #CCC;
/*    width: 100%;*/
    
}

.spaced-table td
{
    padding: 0.2em;
}